doctype html
head
  title Products
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  style.
    table {
    width: 100%;
    border-collapse: collapse;
    }
    th,
    td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
    th {
    background-color: #4caf50;
    color: white;
    }
    tr:hover {
    background-color: #f5f5f5;
    }
    .actions {
    text-align: center;
    }
    .actions button {
    border: none;
    background: none;
    color: #666;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    transition: color 0.3s ease;
    }
    .actions button:hover {
    color: #000;
    }
h1 Products
table
  thead
    tr
      th Update
      th Product Name
      th Category
      th Quantity
      th Cost Price
      th Selling Price
      th Delete
  tbody
    if products
        each product in products
          tr(data-product-id=product._id)
                td.actions
                    button(onclick='updateProduct()')
                      i.fas.fa-edit
                td #{product.productName}
                td #{product.category}
                td #{product.quantity}
                td #{product.costPrice}
                td #{product.sellingPrice}
                td.actions
                    button(onclick=`deleteProduct(${product._id})`)
                      i.fas.fa-trash-alt

    else 
          p No records

            
  script.
    //- function updateProduct() {
    //- // Handle update logic here
    //- console.log("Update button clicked")
    //- }
    function deleteProduct(productId) {
      fetch(`/products/${productId}`, {
        method: 'DELETE'
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        // Remove the deleted row from the table
        const row = document.querySelector(`tr[data-product-id="${productId}"]`);
        row.remove();
      })
      .catch(error => {
        console.error(error);
        // Handle error here
      });
    }