doctype html
head
  title Costomer List
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  style.
    table {
    width: 100%;
    border-collapse: collapse;
    }
    th,
    td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
    th {
    background-color: #4caf50;
    color: white;
    }
    tr:hover {
    background-color: #f5f5f5;
    }
    .actions {
    text-align: center;
    }
    .actions button {
    border: none;
    background: none;
    color: #666;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    transition: color 0.3s ease;
    }
    .actions button:hover {
    color: #000;
    }
    .buttons a {
      display: inline-block;
      padding: 8px 12px;
      margin-right: 8px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border-radius: 4px;
    }

    .buttons a:hover {
      background-color: #3e8e41;
    }
h1 Customers List
table
  thead
    tr
      th Update
      th First Name
      th Last Name
      th Shop
      th Phone
      th TIN
      th SR
      th Delete
  tbody
    if customers
        each customer in customers
          tr(data-customer-id=customer._id)
                td.actions
                    button(onclick='updatecustomer()')
                      i.fas.fa-edit
                td #{customer.fname}
                td #{customer.lname}
                td #{customer.shop}
                td #{customer.phone}
                td #{customer.tin}
                td #{customer.sr}
                td.actions
                    button(onclick=`deletecustomer(${customer._id})`)
                      i.fas.fa-trash-alt

    else 
          p No records
div.buttons
  a(href='/people/customers') Add Customer
  a(href='/welcome') Back to Home

            
  script.
    //- function updateProduct() {
    //- // Handle update logic here
    //- console.log("Update button clicked")
    //- }
    function deleteProduct(productId) {
      fetch(`/products/${productId}`, {
        method: 'DELETE'
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        // Remove the deleted row from the table
        const row = document.querySelector(`tr[data-product-id="${productId}"]`);
        row.remove();
      })
      .catch(error => {
        console.error(error);
        // Handle error here
      });
    }